/* List Style */
.list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list-container h2 {
  font-weight: bold;
  font-size: 2em;
  text-transform: uppercase;
  width: 70%;
  min-width: 350px;
  text-align: left;
  /* background-color: #968596; */
  padding: 10px;

  /* border-rad ius: 50px; */
  color: rgb(62, 10, 10);
  /* box-shadow: 1px 2px 1px 1px rgb(53, 47, 51); */
  border: 1px solid #3e0a0a;
  border-top-width: 0;
  border-left-width: 0;
  border-right-width: 0;
  border-bottom-width: 2px;
  font-weight: bolder;
  padding-left: 20px;
  padding-bottom: 0px;
}
.list {
  display: flex;
  flex-wrap: wrap;
  flex: 1 0 auto;
  justify-content: center;
  margin-bottom: 20px;
}

/*Card Style */
.card {
  display: flex;
  position: relative;
  flex-direction: column;
  padding: 20px;
  border: 1px solid rgb(194, 104, 104);
  border-radius: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  width: 40%;
  min-width: 400px;
  box-shadow: 5px 5px #5a4d4d;
  background-color: rgba(251, 143, 0, 0.11);
  height: fit-content;
  overflow: hidden;
}
.card .card-delete-edit {
  display: none;
}

.card:hover .card-delete-edit {
  display: inline-block;
  cursor: pointer;
  position: absolute;
  top: 12px;
  align-self: flex-end;
}
.card:hover .card-delete-edit span {
  margin-left: 10px;
}
.card h3 {
  text-transform: uppercase;
  text-align: center;
  width: 50%;
  margin: 10px auto;
}
.card p {
  text-align: justify;
  text-justify: inter-word;
  width: 80%;
  margin: 10px auto;
}

.card input,
.card textarea {
  line-height: 1.5em;
  padding: 10px;
  margin: 5px;
  font-size: 1.2em;
}
.card .edit-btn-container {
  display: flex;
  justify-content: flex-start;
  flex-direction: row-reverse;
  margin-top: 5px;
}
.card .edit-btn-container button {
  padding: 10px;
  margin-left: 10px;
  font-weight: bold;
  border-radius: 10px;
  outline: none;
  background-color: #3e0a0ade;
  color: #ffffff;
  width: 20%;
}
.card .edit-btn-container .cancel-btn {
  background-color: red;
}
/* Error Message */
.error {
  position: absolute;
  top: 50px;
  /* width: 100%; */
  text-align: left;
  padding: 20px;
  z-index: 1;
  color: white;
  font-size: 2em;
  background-color: red;
}
